.gallery__gallery {
  background-color: #dedede;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.gallery__item {
  height: 200px;
  width: 200px;
  background-color: #dedede;
below(700px)
}
