//easy reset
html, body
  padding: 0px
  margin: 0px

.gallery__banner
  // (max_width = 1410px, pad = 0)
  background-color: #171717
  width: 100%
  height: auto
  padding: 15px 0px 15px 0px

.gallery
  center(max-width = 1200px, pad = 20)
  // (max_width = 1410px, pad = 0)
  // background-color: red
  +below(480px) //smartphones
    padding-left: 20px
    padding-bottom: 20px

.gallery__item
  col(1/4)
  height: 200px
  width: 20%
  padding-left: 0.325rem
  padding-right: 0.325rem
  background-color #dedede
  +below(768px) //tablets
    // col(1/2, gutter: .5)
    background-color: #dedede
    margin-top: 20px
    height: 200px

+below(480px) //smartphones
  center()
  .rbgallery-fourimages
    col(1/3, gutter: .5)
    background-color: red
    margin-top: 20px
    margin-right: 20px
    height: 100px

  .rbgallery-threeimages--featured
      col(1)
      overflow: hidden
      background-color: red
  .rbgallery-threeimages
      // col(1/3)
      background-color: red
      margin-top: 20px
      height: 100px
      width: 45%

  .rbgallery-twoimages
      col(1/3, gutter: .5)
      background-color: red
      margin-top: 20px
      margin-right: 20px
      height: 100px
