html
  head
  title!= title
  link(rel='stylesheet', href='/styles/styles.css')
  script(src='/bower_components/systemjs/src/System.js')
  //- script(src='/node_modules/babel-core/browser.min.js')
  //- script(src='/scripts/system-config.js')
  block scripts
    //- script(src='/scripts/rbapp.js')
    script(src='/scripts/bundle.js')
    //- script(src='system.js')
    //- script(type='text/javascript').
      // set our baseURL reference path
      //- System.transpiler = 'babel';      

      //- System.config({
      //-  baseURL: '/app',
      //-  transpiler: 'babel'
      //- });

      // loads /app/main.js
      //- System.import('main.js');      

  body
    h1!= message
    div(class="application__content")
      p.
        Gallery Viewer Page

    div(class="application")

    h1 4 images
    div(class="gallery__banner")
      div(class="gallery")
        div(class="gallery__item rbgallery-fourimages" #{url})
          img({src})
        div(class="gallery__item rbgallery-fourimages")
        div(class="gallery__item rbgallery-fourimages")
        div(class="gallery__item rbgallery-fourimages")
      //- div(class="gallery__viewer")
    
    h1 3 images
    div(class="gallery__banner")
      div(class="gallery")
        div(class="gallery__item  rbgallery-threeimages--featured")
        div(class="gallery__item  rbgallery-threeimages")
        div(class="gallery__item  rbgallery-threeimages")
      //- div(class="gallery__viewer")

    h1 2 images
    div(class="gallery__banner")
      div(class="gallery")
        div(class="gallery__item rbgallery-twoimages")
        div(class="gallery__item rbgallery-twoimages")
      //- div(class="gallery__viewer")
