html
  head
  title!= title
  script(src='./application/application.js')
  body
    h1!= message
    div(class="application__content")
      p.
        Yesyesyaa


    div(class="application")
      script(src='/rbapp/src/application/application.js')
      
